/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "getdata calculator";
    grid-template-columns: 30% 70%;
}

.getdata {
    grid-area: getdata;
    background-color: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.calculator {
    grid-area: calculator;
    background-color: #ccc;
    grid-template-areas: "screen" "buttons";
    grid-template-rows: 30% 70%;
    display: inline-grid;
}
.screen {
    grid-area: screen;
    background-color: #bbbb;
    grid-template-areas: "calculatorop calculatorop calculatorop" "calculatorres calculatorres calculatorres" "mc empty empty";
    display: grid;
    grid-template-rows: 40% 40% 20%;
    grid-template-columns: 10% 10% 80%;
}
.calculatorop{
    grid-area: calculatorop;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.calculatorres {
    grid-area: calculatorres;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size:32px;
}
.buttons {
    grid-area: buttons;
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
}
.numberbutton {
    background-color: #fff;
    font-size:20px;
}
.otherbuttons{
    font-size:20px;
}
