@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-container">
    Go to INDEXhtml please (wwwroot). I tried to combine .NET Core Razor pages
    with AJAX, but it didn't work for me. If I was able to make request WITHOUT AJAX,
    I would create PartialView with data, and INDEXcshtml with Tag-helpers,
    sending query to Controller and modifying only PartialView.
    I know my issue isn't the most convenient and I would be glad to hear
    your remarks. Thanks
</div>
<script type="text/javascript">
        $(document).ready(function () {
            GetAllResults();
        });
        function GetAllResults() {
            $.ajax({
                url: '/api/home',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function WriteResponse(calculatorresults) {
            var strResult = "<p>Operations</p>";
            $.each(calculatorresults, function (index, calculatorresult) {
                strResult += "<p>" + calculatorresult.calculationString + "=" + calculatorresult.result + "</p>";
            });
            $(".getdata").append(strResult);
        }
</script>
