@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-container">
    <div class="getdata"></div>
    <div class="calculator">
        <div class="screen">Screen</div>
        <div class="buttons">
            <button>%</button>
            <button>&radic;</button>
            <button>x&sup2;</button>
            <button>1/x</button>
            <button>CE</button>
            <button>C</button>
            <button>&lArr;</button>
            <button>&divide;</button>
            <button class="numberbutton">7</button>
            <button class="numberbutton">8</button>
            <button class="numberbutton">9</button>
            <button>&times;</button>
            <button class="numberbutton">4</button>
            <button class="numberbutton">5</button>
            <button class="numberbutton">6</button>
            <button>-</button>
            <button class="numberbutton">1</button>
            <button class="numberbutton">2</button>
            <button class="numberbutton">3</button>
            <button>+</button>
            <button>&plusmn;</button>
            <button class="numberbutton">0</button>
            <button>.</button>
            <button>=</button>
        </div>
    </div>
</div>
